.container {
  width: 100vw;
  height: 100vh;
  border: 1px solid magenta; // temp
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 85%; // temp
    // height: 200px; // temp;
    background-color: $white;
    border-radius: 1.8rem;
    padding: 1.5rem;
    padding-bottom: 4rem;

    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.05), 0 1rem 2rem 1rem rgba(0, 0, 0, 0.05);

    .hero {
      width: 100%;
      border-radius: 1.2rem;
    }

    .title {
      font-size: 2.22rem;
      font-weight: 700;
      text-align:center;
      color: $dark-blue;
      margin-top: 2rem;
    }

    .description {
      font-size: 1.54rem;
      text-align: center;
      color: $grayish-blue;
      margin-top: 1.5rem;
      padding: 0 1rem;
    }

  }
}
